* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
body {
    font-family: sans-serif;
    font-size: 1.6rem;
    background-image: url(assets/mountains-universe-1\ 1.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    position: relative;
    background-size: 100% 100%;
}

footer {
    height: 12rem;
    display: flex;
    gap: 3.5rem;
}
footer a {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-decoration: none;
    color: #C4C4CC;
    font-size: 2.2rem;
}
footer .a {
    padding: 0;
}
footer span {
    color: #FFF;
    font-weight: bold;
}
footer img {
    padding: 4rem 4rem 4rem 7rem
}
main {
    width: 500px;
    margin: auto;
    margin-top: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}
main h1 {
    color: #FFF;
    font-size: 4.8rem;
    font-weight: bold;
}
main button {
    font-weight: bold;
    font-size: 1.4rem;
    background: none;
    border: 2px solid #FFF;
    padding: 1.2rem 3.2rem;
    color: #FFF;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
}
main button:hover {
    background-color: #FFF;
    color: #02799D;
    transition: .3s;
}